<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:replace="~{include/title.html::title}"></title>

<link rel="stylesheet" th:href="@{/css/common.css}">
<link rel="stylesheet" th:href="@{/css/member/member.css}">
<link rel="stylesheet" th:href="@{/css/header_nav_footer.css}">

</head>
<body>
   
   <header th:replace="~{include/header_nav_footer.html::header}">
   </header>
   
   <nav th:replace="~{include/header_nav_footer.html::nav}">
   </nav>
   
   <article>
      <div id="article_wrap">
         
         <div class="word">
            <span>MEMBER MODIFY FAIL</span>
         </div>
         
      </div>
   </article>
   
   <footer th:replace="~{include/header_nav_footer.html::footer}">
   </footer>
   
</body>
</html>