@charset "UTF-8";

/* header START */
header {
   width: 100%;
   border-bottom: 1px solid #ccc;
   padding: 20px 0;
   background-color: rgba(200, 200, 200, .4);
}

header #header_wrap {
   width: 1500px;
   margin: 0 auto;
   text-align: center;
   font-weight: bold;
   font-size: 1.3em;
}
/* header END */

/* nav START */
nav {
   width: 100%;
   border-bottom: 1px solid #ccc;
   padding: 10px 0;
   background-color: rgba(200, 200, 200, .2);
}

nav #nav_wrap {
   width: 1500px;
   margin: 0 auto;
   text-align: right;
}
/* nav END */

/* footer START */
footer {
   width: 100%;
   border-top: 1px solid #ccc;
   padding: 10px 0;
   background-color: #363636;
}

footer #footer_wrap {
   width: 1500px; height: 100px;
   line-height: 100px;
   color: #fafafa;
   margin: 0 auto;
   text-align: center;
   font-size: .9em;
}
/* footer END */