<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
	
		<typeAlias type="com.office.myorganizeruser.member.MemberDto" alias="MemberDto"/>
		<typeAlias type="com.office.myorganizeruser.plan.PlanDto" alias="PlanDto"/>
		<typeAlias type="com.office.myorganizeruser.plan.comment.CommentDto" alias="CommentDto"/>
	
	</typeAliases>

</configuration>